@font-face {
	font-family: 'Athlone';
	src: url('../fonts/athlone.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/athlone.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/athlone.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/athlone.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/athlone.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/athlone.svg#athlone') format('svg'); /* Chrome < 4, Legacy iOS */
}